<!doctype html>
<html>
 <head>
  <title>{{page.title}} - Bryan Kendall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/bryankendall.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-20672078-1']);
   _gaq.push(['_trackPageview']);
   (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
 </script>
 </head>
 <body>
  <div class="header">
   <div class="container">
    <div class="row">
     <div class="col-xs-12">
      <h1 class="name">Bryan Kendall</h1>
     </div>
    </div>
   </div>
  </div>
  <div class="container content">
   <div class="row visible-xs">
    <div class="col-xs-12">
     <button class="btn" onclick="$('div#bk-nav').toggle('slideDown');$(this).slideUp();">Menu</button>
     <div id="bk-nav" style="display:none;">
      {% include post_menu.html %}
     </div>
    </div>
   </div>
   {{ content }}
  </div>
  <div style="display:none;visibility:hidden;">
   <a href="http://bryankendall.brandyourself.com/">BrandYourself</a>
  </div>
 </body>
</html>
